<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1>Add User</h1>

<form th:action="@{addUser}" th:object="${user}" th:method="POST">
    <label for="firstName"></label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="firstname"/>
    <br>
    <label for="lastName"></label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="lastname"/>
    <br>
    <label for="email"></label>
    <input type="text" th:field="*{email}" id="email" placeholder="email"/>
    <br>
    <label for="username"></label>
    <input type="text" th:field="*{username}" id="username" required placeholder="username"/>
    <br>
    <label for="password"></label>
    <input type="password" th:field="*{password}" id="password" required placeholder="password"/>
    <span class="toggle-password fa fa-fw fa-eye field-icon"></span>
    <br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.getAuthority()}"
               th:value="${role.getId()}"
               th:field="*{roles}"
        />
    </label>
    <br>
    <input type="submit" value="Confirm"/>
</form>
<br>
<a th:href="@{users}">Users page</a>
<br>
<a th:href="@{logout}">Logout</a>
</body>
</html>