<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<br>
<div sec:authorize="isAnonymous()">
    <a th:href="@{login}">Login</a>
</div>
<div sec:authorize="hasRole('USER')">
    <a th:href="@{user}">Profile Page</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{admin}">Admin Page</a>
</div>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{logout}">Logout</a>
</div>
</body>
</html>