<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome spring boot security page!</h1>

<table th:border="1">
    <tr>
        <th>id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>
    <tr th:for="${currentUser}">
        <td th:text="${currentUser.getId()}"></td>
        <td th:text="${currentUser.getFirstName()}"></td>
        <td th:text="${currentUser.getLastName()}"></td>
        <td th:text="${currentUser.getEmail()}"></td>
        <td th:text="${currentUser.getUsername()}"></td>
        <td th:text="${currentUser.getPassword()}"></td>
        <td th:text="${currentUser.getAuthorities()}"></td>
    </tr>
</table>
<br>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{admin}">Admin Page</a>
</div>
<a th:href="@{http://localhost:8080/index}">Index page</a>
<br>
<a th:href="@{http://localhost:8080/logout}">Logout</a>
</body>
</html>